/* todo: fix backgrounds & borders, add media queries */

/* darkblue #105187
blunt greenishblue #2c8693
eggwhite #F0F1D5
burntorgange #F19722
burntorangered #C33325 */

@import url('https://fonts.googleapis.com/css?family=Oswald');

html { 
  background: url(../images/krystal-ng-crystal.jpg) no-repeat center center fixed #000; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Oswald', sans-serif;
  color: #F0F1D5;
  text-shadow: 1px 1px 3px #105187;
}
.container {
  display: flex;
  justify-content: space-between;
}

#left-panel {
  width: 49%;
}

#right-panel {
  width: 49%;
  color: #F19722;
  background-color: rgb(44, 134, 147, 0.4);
  border-radius: 5px;
  text-align: center;
}

#top-rt-row {
  display: flex;
  justify-content: space-between;
}

#target-score-container {
  width: 35%;
  
  
}

#target-score {
  font-size: 200%;
}

#wins-losses {
  width: 50%;
  
}

#crystal-imgs {
  display: flex;
  justify-content: space-around;
}

.crystal-container {
  width: 25%;
  text-align: center;
}

button {
  font-size: 150%;
  width:100%;
  padding:0px;
}

#gem0 i{
  background-color: rgb(16, 81, 135, 0.8)
}
#gem1 i{
  background-color: rgb(44, 134, 147, 0.8)
}
#gem2 i{
  background-color: rgb(241, 151, 34, 0.8)
}
#gem3 i{
  background-color: rgb(195, 51, 37, 0.8)
}

i {
  width: 90%;
  margin: 0%;
  padding: 5%;
}

#user-score {
  font-size: 200%;
}

@media screen and (max-width: 640px) {
  .container {
    display: block;
  }
  #left-panel {
    width: 100%;
  }
  #right-panel {
    width: 100%
  }
  
}